<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Repeat Counter</h1>
    <h2>Welcome to the repeat counter!</h2>
    <p>This program will tell you how many times a single word occurs in a string of words. Please enter first a number of words and second a word to find in the string of words.</p>
    <form action='/count' method="post">
      <div class="form-group">
        <label for 'input-string'>String of Words</label>
        <input type="text" name="input-string">
      </div>
      <div class="form-group">
        <label for 'comparison-string'>Word to find</label>
        <input type="text" name="comparison-string">
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>