<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Repeat Counter: Results</h1>
    <p>Your comparison string "{{comparisonString}}" was found {{timesFound}} time{% if timesFound != 1 %}s{% endif %} in the string:</p>
    <p>"{{inputString}}"</p>
    <a href="/"><button class="btn btn-lg btn-primary">Go Back</button></a>
  </div>
</body>
</html>
