<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="container">
    <h1>Repeat Counter: Results</h1>
    <p>Your comparison string "{{comparisonString}}" was found {{timesFound}} times in the string "{{inputString}}" !</p>
  </div>
</body>
</html>
